:root {
  --Neutral--900: hsl(243, 96%, 9%);
  --Neutral--800: hsl(243, 27%, 20%);
  --Neutral--700: hsl(243, 23%, 24%);
  --Neutral--600: hsl(243, 23%, 30%);
  --Neutral--300: hsl(240, 6%, 70%);
  --Neutral--200: hsl(250, 6%, 84%);
  --Neutral--0: hsl(0, 0%, 100%);
  --Orange:  hsl(28, 100%, 52%);
  --blue--500: hsl(233, 67%, 56%);
  --blue--700: hsl(248, 70%, 36%);

  --font-base: [DM Sans](https://fonts.google.com/specimen/DM+Sans);
  --font-second-base: Family: [Bricolage Grotesque](https://fonts.google.com/specimen/Bricolage+Grotesque);
  --font-size-base: 16px;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}


body {
    background-color: var(--blue--700);
}